    p {
        color: white;
        margin: 0;
    }

    body {
        color: white;
        margin-top: 100px;
    }

    .top-head {
        margin-top: 150px;
    }

    .heading {
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 20px;
        font-family: cursive;
    }

    .movie-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-bottom: -50px;
        margin-left: 20px;
        height: 350px;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        overflow-y: hidden;
        font-size: 0.8rem;
        padding: 20px 0 0 0;
        font-family: 'Arial', sans-serif;

    }


    .movie-poster {
        position: relative;

        min-width: 200px;
        height: 300px;

        overflow: hidden;

        border-radius: 10px;

        transition: transform 0.3s ease;

        flex-shrink: 0;

    }


    .movie-info {
        position: absolute;
        z-index: 1;
        inset: 0;

        color: #fff;



    }



    .movie-poster img {
        min-width: 150px;
        border-radius: 10px;
        object-fit: cover;
        height: 250px;
        display: block;

    }

    .movie-poster:hover .movie-info {
        display: block;
        position: absolute;
        top: 55px;
        opacity: 1;
    }


    .movie-poster img:hover {
        transform: scale(1.08);
        box-shadow: 10px 8px 8px rgba(233, 45, 45, 0.2);

    }

    .movie-info h3 {
        position: absolute;
        left: 20px;
        font-size: 1rem;
        font-weight: bold;

    }

    .movie-poster p {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 0.9rem;
        backdrop-filter: blur(5px);
        color: #fff;

    }

    .movie-poster button {
        position: absolute;
        bottom: 0px;
        border: none;
        background: transparent;
        left: 20px;
        font-size: 1rem;
        color: #fff;
    }


    .top-row .movie-poster {

        object-fit: cover;
        min-width: 15%;
        margin-bottom: 200px;
        height: 320px;


    }

    .top-row .movie-poster img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 20px;

    }